body {
    font-family: 'Barlow', sans-serif;
}

h1 {
    color: brown;
}

li {
    padding: 5px;
}

.description {
    background-color: hsl(51, 100%, 84%);
    text-align: left;
    width: fit-content;
}

.nav_page {
    background: linear-gradient(#e66465, #9198e5);
    height: 50px;
    width: 200px;
    border-radius: 15px;
}